table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: right;
}

th:first-child,
td:first-child {
  text-align: left;
}

th button {
  background: none;
  border: none;
  font-size: inherit;
  cursor: pointer;
}

th button:hover {
  text-decoration: underline;
}

th {
  border-bottom: 2px solid #ccc;
}

span {
  margin-left: 5px;
}

.sort-arrow {
  visibility: visible;
  margin: 0 5px;
  font-size: 16px;
  display: inline-block;
}
