.instrument-container {
  width: 100%;
  height: 250px;
}

.market-info p,
.variation-info p,
.quote-info p {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.market-info strong,
.variation-info strong,
.quote-info strong {
  min-width: 200px;
  text-align: left;
}

.market-info span,
.variation-info span,
.quote-info span {
  text-align: right;
  flex-grow: 1;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  justify-content: center;
  margin-bottom: 50px;
  border-bottom: 2px solid #ddd;
}
